{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <br>
                <h2><i class="fa-solid fa-gift"></i> Giveaway Announcement! <i class="fa-solid fa-gift"></i></h2>
                <br>
                <p>
                    We're excited to announce our giveaway where we'll be selecting 5 lucky winners
                    to receive a signed t-shirt from both Magnus Carlsen and Hikaru Nakamura!
                    To enter, simply answer the following question:
                    <br>
                    <br>
                    <strong> "Who has a better head-to-head record in their matches: Magnus or Hikaru?"</strong>
                    <br>
                    <br>
                    Winners will be randomly chosen from those who provide the correct answer. 
                    Good luck to all participants!
                </p>
               
                <div class="col-12 col-md-6" style="padding-top: 50px;">
                    <form method="POST" class="form mb-2" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            {{ field | as_crispy_field }}
                        {% endfor %}
                        <div class="text-right">
                            <a href="{% url 'home' %}" class="btn btn-outline-black rounded-0">Cancel</a>
                            <button class="btn btn-black rounded-0" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
{% endblock %}
