<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'giveaway_form' %}"  aria-haspopup="true" aria-expanded="false">
                🎉 Giveaway 🎉
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="boards-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Chess Sets and Pieces
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="boards-link">
                <a href="{% url 'products' %}?category=chess_sets" class="dropdown-item">Chess Sets</a>
                <a href="{% url 'products' %}?category=chess_boards" class="dropdown-item">Chess Boards</a>
                <a href="{% url 'products' %}?category=chess_pieces" class="dropdown-item">Chess Pieces</a>
                <a href="{% url 'products' %}?category=chess_sets,chess_boards,chess_pieces" class="dropdown-item">All Sets and Pieces</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="pawns-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Chess Clocks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="pawns-link">
                <a href="{% url 'products' %}?category=digital_chess_clocks" class="dropdown-item">Digital Chess Clocks</a>
                <a href="{% url 'products' %}?category=analog_chess_clocks" class="dropdown-item">Analog Chess Clocks</a>
                <a href="{% url 'products' %}?category=digital_chess_clocks,analog_chess_clocks" class="dropdown-item">All Clocks</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About Us
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'blog' %}" class="dropdown-item">Blog</a>
                <a href="{% url 'contact_form' %}" class="dropdown-item">Contact Us</a>
            </div>
        </li>
    </ul>
</div>